.logo{
    display: flex;
    height: 83px;
    justify-content: center;
    align-items: center;
    span{
        display: block;
        width: 177px;
        height: 47px;
        background: #1a2d3f;
    }
}